<section class="col-xs-12 col-lg-6">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">
        %%checkingAccount.name%%
        <i class="material-icons">account_balance_wallet</i>
      </h1>
    </div>
    <div class="card-block">
      <a class="btn btn-primary control" data-ui-sref="checking-account.add-spending({identifier: checkingAccount.identifier})">
        <i class="material-icons">add_circle_outline</i>
        <span>Add …</span>
      </a>
    </div>
    <div class="card-block" data-ng-if="!vm.bookedSpendings.length">
      <p>
        No spendings recorded, yet!
      </p>
    </div>
    <div class="card-block spendings">
      <table class="table" data-ng-repeat="group in vm.bookedSpendings">
        <colgroup>
          <col width="10%">
          <col>
          <col width="10%">
        </colgroup>
        <thead>
        <tr>
          <th colspan="2">%%group.title%%</th>
          <th class="money">%%group.total()|money%%</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="spending in group.spendings|orderBy:'bookedAt'" data-ui-sref="checking-account.edit-spending({identifier: checkingAccount.identifier, spending_id: (spending|idparam)})">
          <td>
            %%spending.bookedAt|date:'dd.MM.'%%
          </td>
          <td>
              %%spending.title%%
              <i class="material-icons" title="Saving" data-ng-if="spending.saving">trending_up</i>
          </td>
          <td class="money">
            %%spending.amount|money%%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer spendings" data-ng-if="vm.bookedSpendings.length">
      <table class="table">
        <colgroup>
          <col>
          <col width="10%">
        </colgroup>
        <thead>
        <tr>
          <th colspan="2">Summary</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Total</th>
          <th class="money">%%vm.report.balance|money%%</th>
        </tr>
        </tfoot>
        <tbody>
        <tr>
          <td>
            Income
          </td>
          <td class="money">
            %%vm.report.income|money%%
          </td>
        </tr>
        <tr>
          <td>
            Spendings
          </td>
          <td class="money">
            %%vm.report.spendings|money%%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="col-xs-12 col-lg-6" data-ng-if="vm.pendingSpendings.length">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        Pending
        <i class="material-icons">watch_later</i>
      </h2>
    </div>
    <div class="card-block spendings">
      <table class="table" data-ng-repeat="group in vm.pendingSpendings">
        <colgroup>
          <col width="10%">
          <col>
          <col width="10%">
        </colgroup>
        <thead>
        <tr>
          <th colspan="2">%%group.title%%</th>
          <th class="money">%%group.total()|money%%</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="spending in group.spendings|orderBy:'bookedAt'" data-ui-sref="checking-account.edit-spending({identifier: checkingAccount.identifier, spending_id: (spending|idparam)})">
          <td>
            %%spending.bookedAt|date:'dd.MM.'%%
          </td>
          <td>
            %%spending.title%%
            <i class="material-icons" title="Saving" data-ng-if="spending.saving">trending_up</i>
          </td>
          <td class="money">
            %%spending.amount|money%%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
