<section class="col-xs-12 col-lg-8 col-lg-offset-2">
  <form name="form" class="card">
    <div class="card-header">
      <h2 class="card-title" data-ng-switch="vm.type">
        Add
        <span data-ng-switch-when="spending">spending</span>
        <span data-ng-switch-when="income">income</span>
        …
        <i class="material-icons" data-ng-hide="vm.p.$success">add_circle_outline</i>
        <i class="material-icons success" data-ng-show="vm.p.$success">check_circle</i>
      </h2>
    </div>
    <div class="card-block">
      <fieldset class="form-group">
        <label for="category">Category</label>
        <input tabindex="1"
               class="form-control"
               type="text"
               id="category"
               required
               bootstrap-error-states
               data-ng-model="vm.spending.category"
               data-ng-disabled="vm.p.$active"
               name="category"
        />
      </fieldset>
      <fieldset class="form-group">
        <label for="title">Title</label>
        <input tabindex="2"
               class="form-control"
               type="text"
               id="title"
               required
               bootstrap-error-states
               data-ng-model="vm.spending.title"
               data-ng-disabled="vm.p.$active"
               name="title"
        />
      </fieldset>
      <fieldset class="form-group">
        <label for="amount">Amount</label>
        <input tabindex="3"
               class="form-control"
               type="number"
               id="amount"
               required
               bootstrap-error-states
               data-ng-model="vm.spending.amount"
               data-ng-disabled="vm.p.$active"
               data-ng-min="0"
               name="amount"
        />
      </fieldset>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <fieldset class="form-group">
            <label>Booked</label>
            <div class="btn-group" role="group" data-toggle="buttons" aria-label="Booked">
              <label class="btn" data-ng-click="vm.spending.booked = true" data-ng-class="{'btn-success': vm.spending.booked, 'btn-secondary': !vm.spending.booked}">
                <input
                  type="radio"
                  tabindex="4"
                  data-ng-model="vm.spending.booked"
                  data-ng-disabled="vm.p.$active"
                  required
                  bootstrap-error-states
                  autocomplete="off"
                  name="type"
                  value="1"
                > <i class="material-icons" data-ng-if="vm.spending.booked">check</i><span>Yes</span>
              </label>
              <label class="btn" data-ng-click="vm.spending.booked = false" data-ng-class="{'btn-danger': !vm.spending.booked, 'btn-secondary': vm.spending.booked}">
                <input
                  type="radio"
                  tabindex="5"
                  data-ng-model="vm.spending.booked"
                  data-ng-disabled="vm.p.$active"
                  required
                  bootstrap-error-states
                  autocomplete="off"
                  name="type"
                  value="0"
                > <i class="material-icons" data-ng-if="!vm.spending.booked">check</i><span>No</span>
              </label>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label for="bookedAt">Booked at</label>
            <input tabindex="6"
                   class="form-control"
                   type="date"
                   id="bookedAt"
                   data-ng-required="vm.spending.booked"
                   bootstrap-error-states
                   data-ng-model="vm.spending.bookedAt"
                   data-ng-disabled="vm.p.$active"
                   name="bookedAt"
            />
          </fieldset>
        </div>
        <div class="col-xs-12 col-sm-6">
          <fieldset class="form-group">
            <label>
              Type
            </label>
            <div class="btn-group type" role="group" data-toggle="buttons" aria-label="Type">
              <label class="btn" data-ng-click="vm.type = 'spending'" data-ng-class="{'btn-danger': vm.type === 'spending', 'btn-secondary': vm.type !== 'spending'}">
                <input
                  type="radio"
                  tabindex="7"
                  data-ng-model="vm.type"
                  data-ng-disabled="vm.p.$active"
                  required
                  bootstrap-error-states
                  autocomplete="off"
                  name="type"
                  value="spending"
                > <i class="material-icons" data-ng-if="vm.type === 'spending'">check</i><span>Spending</span>
              </label>
              <label class="btn" data-ng-click="vm.type = 'income'" data-ng-class="{'btn-success': vm.type === 'income', 'btn-secondary': vm.type !== 'income'}">
                <input
                  type="radio"
                  tabindex="8"
                  data-ng-model="vm.type"
                  data-ng-disabled="vm.p.$active"
                  required
                  bootstrap-error-states
                  autocomplete="off"
                  name="type"
                  value="income"
                >
                <i class="material-icons" data-ng-if="vm.type === 'income'">check</i><span>Income</span>
              </label>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label>Saving</label>
            <div class="btn-group" role="group" data-toggle="buttons" aria-label="Saving">
              <label class="btn" data-ng-click="vm.spending.saving = true" data-ng-class="{'btn-success': vm.spending.saving, 'btn-secondary': !vm.spending.saving}">
                <input
                  type="radio"
                  tabindex="9"
                  data-ng-model="vm.spending.saving"
                  data-ng-disabled="vm.p.$active"
                  required
                  bootstrap-error-states
                  autocomplete="off"
                  name="type"
                  value="1"
                > <i class="material-icons" data-ng-if="vm.spending.saving">check</i><span>Yes</span>
              </label>
              <label class="btn" data-ng-click="vm.spending.saving = false" data-ng-class="{'btn-danger': !vm.spending.saving, 'btn-secondary': vm.spending.saving}">
                <input
                  type="radio"
                  tabindex="10"
                  data-ng-model="vm.spending.saving"
                  data-ng-disabled="vm.p.$active"
                  required
                  bootstrap-error-states
                  autocomplete="off"
                  name="type"
                  value="0"
                > <i class="material-icons" data-ng-if="!vm.spending.saving">check</i><span>No</span>
              </label>
            </div>
          </fieldset>
        </div>
      </div>
      <!-- fieldset class="form-group">
        <label>Paid with</label>
        <div class="btn-group" role="group" data-toggle="buttons" aria-label="Paid with">
          <label class="btn btn-secondary" data-ng-click="vm.spending.paidWith = 'bar'">
            <input
              type="radio"
              tabindex="11"
              data-ng-model="vm.spending.paidWith"
              data-ng-disabled="vm.p.$active || vm.type !== 'spending'"
              required
              bootstrap-error-states
              autocomplete="off"
              name="type"
              value="bar"
            > <i class="material-icons" data-ng-if="vm.spending.paidWith === 'bar'">check</i><span>Bar</span>
          </label>
          <label class="btn btn-secondary" data-ng-click="vm.spending.paidWith = 'CC-M'">
            <input
              type="radio"
              tabindex="12"
              data-ng-model="vm.spending.paidWith"
              data-ng-disabled="vm.p.$active || vm.type !== 'spending'"
              required
              bootstrap-error-states
              autocomplete="off"
              name="type"
              value="CC-M"
            > <i class="material-icons" data-ng-if="vm.spending.paidWith === 'CC-M'">check</i><span>CC-M</span>
          </label>
          <label class="btn btn-secondary" data-ng-click="vm.spending.paidWith = 'CC-T'">
            <input
              type="radio"
              tabindex="13"
              data-ng-model="vm.spending.paidWith"
              data-ng-disabled="vm.p.$active || vm.type !== 'spending'"
              required
              bootstrap-error-states
              autocomplete="off"
              name="type"
              value="CC-T"
            > <i class="material-icons" data-ng-if="vm.spending.paidWith === 'CC-T'">check</i><span>CC-T</span>
          </label>
        </div>
      </fieldset -->
    </div>
    <div class="card-footer">
      <div class="controls">
        <button tabindex="14"
                type="submit"
                class="btn btn-primary"
                data-ng-disabled="form.$invalid || vm.p.$active"
                data-ng-click="vm.submit();">
          <i class="material-icons" data-ng-show="(form.$invalid) && !vm.p.$active">block</i>
          <i class="material-icons" data-ng-show="!(form.$invalid || vm.p.$active) && vm.p.$pristine">send</i>
          <i class="material-icons spin" data-ng-show="vm.p.$active">hourglass_empty</i>
          <i class="material-icons" data-ng-show="!(form.$invalid || vm.p.$active) && vm.p.$success">check_ok</i>
          <i class="material-icons" data-ng-show="!(form.$invalid || vm.p.$active) && vm.p.$error">error</i>
          <span data-ng-if="!vm.spending.$id">Create</span>
          <span data-ng-if="vm.spending.$id">Save</span>
        </button>
      </div>
      <div data-ng-show="vm.p.$error" class="error-info">
        <div class="alert alert-danger" role="alert">
          <i class="material-icons">error</i>
          %%vm.p.$problem.title%%<br>
          <small>%%vm.p.$problem.detail%%</small>
        </div>
      </div>
    </div>
  </form>
</section>
