<section class="col-xs-12 col-lg-6">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">
        %%::checkingAccount.name%%<br>
        <small>%%vm.date|date:'MMMM yyyy'%%</small>
        <i class="material-icons">account_balance_wallet</i>
      </h1>
    </div>
    <div class="card-block">
      <button type="button" class="btn btn-primary control" data-ui-sref="checking-account.add-spending({identifier: checkingAccount.identifier})">
        <i class="material-icons">add_circle_outline</i>
        <span>Add …</span>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons" data-ng-if="!checkingAccount.monthly">format_list_numbered</i>
          <span data-ng-if="!checkingAccount.monthly">All</span>
          <i class="material-icons" data-ng-if="checkingAccount.monthly">date_range</i>
          <span data-ng-if="checkingAccount.monthly">by month</span>
        </button>
        <div class="dropdown-menu">
          <button type="button" class="dropdown-item" data-ng-if="checkingAccount.monthly" data-ng-click="vm.toggleMonthly()">
            <i class="material-icons">format_list_numbered</i>
            <span>show all</span>
          </button>
          <button type="button" class="dropdown-item" data-ng-if="!checkingAccount.monthly" data-ng-click="vm.toggleMonthly()">
            <i class="material-icons">date_range</i>
            <span>show one month</span>
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-secondary control" data-ng-click="vm.previousMonth()" data-ng-if="checkingAccount.monthly">
        <i class="material-icons">chevron_left</i>
      </button>
      <button type="button" class="btn btn-secondary control" data-ng-click="vm.nextMonth()" data-ng-if="checkingAccount.monthly">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
    <div class="card-block" data-ng-if="!vm.bookedSpendings.length">
      <p>
        No spendings recorded, yet!
      </p>
    </div>
    <div class="card-block spendings">
      <table class="table" data-ng-repeat="group in vm.bookedSpendings">
        <colgroup>
          <col width="10%">
          <col>
          <col width="10%">
        </colgroup>
        <thead>
        <tr>
          <th colspan="2">%%::group.title%%</th>
          <th class="money">%%group.total()|money%%</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="spending in group.spendings|orderBy:'bookedAt':true" data-ui-sref="checking-account.edit-spending({identifier: checkingAccount.identifier, spending_id: (spending|idparam)})">
          <td>
            <span data-ng-if="checkingAccount.monthly">%%::spending.bookedAt|date:'dd.MM.'%%</span>
            <span data-ng-if="!checkingAccount.monthly">%%::spending.bookedAt|date:'dd.MM.yyyy'%%</span>
          </td>
          <td>
            %%::spending.title%%
            <i class="material-icons" title="Saving" data-ng-if="spending.saving">trending_up</i>
          </td>
          <td class="money">
            %%::spending.amount|money%%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="col-xs-12 col-lg-6">
  <div class="card" data-ng-if="vm.report">
    <div class="card-header">
      <h2 class="card-title">
        Summary
        <i class="material-icons">poll</i>
      </h2>
    </div>
    <div class="card-block spendings">
      <table class="table">
        <colgroup>
          <col>
          <col width="10%">
        </colgroup>
        <thead>
        <tr>
          <th>
            Balance
            <span data-ng-if="!vm.checkingAccount.savings">(%%(vm.report.balance/vm.report.income)|percent%%)</span>
          </th>
          <th class="money">
            %%vm.report.balance|money%%
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            Income
          </td>
          <td class="money">
            %%vm.report.income|money%%
          </td>
        </tr>
        <tr data-ng-if="vm.report.spendings < 0">
          <td>
            Spendings (%%(vm.report.spendings/vm.report.income)*-1|percent%%)
          </td>
          <td class="money">
            %%vm.report.spendings|money%%
          </td>
        </tr>
        <tr data-ng-if="vm.report.savings < 0">
          <td>
            Savings (%%(vm.report.savings/vm.report.income)*-1|percent%%)
          </td>
          <td class="money">
            %%vm.report.savings|money%%
          </td>
        </tr>
        <tr data-ng-if="vm.pending < 0">
          <td>
            Pending
          </td>
          <td class="money">
            %%vm.pending|money%%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card" data-ng-if="vm.pendingSpendings.length">
    <div class="card-header">
      <h2 class="card-title">
        Pending
        <i class="material-icons">watch_later</i>
      </h2>
    </div>
    <div class="card-block spendings">
      <table class="table" data-ng-repeat="group in vm.pendingSpendings">
        <colgroup>
          <col width="10%">
          <col>
          <col width="10%">
        </colgroup>
        <thead>
        <tr>
          <th colspan="2">%%::group.title%%</th>
          <th class="money">%%group.total()|money%%</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="spending in group.spendings|orderBy:'bookedAt'" data-ui-sref="checking-account.edit-spending({identifier: checkingAccount.identifier, spending_id: (spending|idparam)})">
          <td>
            <span data-ng-if="checkingAccount.monthly">%%::spending.bookedAt|date:'dd.MM.'%%</span>
            <span data-ng-if="!checkingAccount.monthly">%%::spending.bookedAt|date:'dd.MM.yyyy'%%</span>
          </td>
          <td>
            %%::spending.title%%
            <i class="material-icons" title="Saving" data-ng-if="spending.saving">trending_up</i>
          </td>
          <td class="money">
            %%::spending.amount|money%%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form class="card" data-ng-if="vm.report">
    <div class="card-header">
      <h2 class="card-title">
        Settings
        <i class="material-icons">settings</i>
      </h2>
    </div>
    <div class="card-block">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="true" data-ng-model="checkingAccount.savings">
              This is a savings account
            </label>
          </div>
        </div>
    </div>
  </form>
</section>
