body.dashboard, body.checking-account {
  .container {
    margin-top: 2rem;
  }
}

td, th {
  &.money {
    text-align: right;
    white-space: nowrap;
  }
}

tr[data-ui-sref] {
  cursor: pointer;
}

.card {
  margin-bottom: 2rem;
}

.list-group.typeahead {
  position: absolute;
  width: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
