body.dashboard, body.checking-account {
  .container {
    margin-top: 2rem;
  }
}

td, th {
  &.money {
    text-align: right;
    white-space: nowrap;
  }
}

tr[data-ui-sref] {
  cursor: pointer;
}

.card {
  margin-bottom: 2rem;
}
